.content { margin-left: 250px; padding: 10px;background: none repeat scroll 0 0 #fff;}
.sidebar { width: 220px; float: left;}
.sidebar .side-name {
    display: block;
    padding: 10px;
    background: none repeat scroll 0 0 #eb2969;
    color:#ffffff;
    font-family: "futura-pt",arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.sidebar .side-name span, .sidebar .side-name.active span {
    background-image: url("/i/strela-menu.png");
    float: right;
    height: 9px;
    margin: 5px;
    width: 13px;
}
.sidebar .side-name.active span {
    display: block;
    background-position: -23px;
}
.sidebar ul {
    background: none repeat scroll 0 0 #fff;
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 15px;
}
.sidebar ul.active {
    display: block;
}
.sidebar li {
    padding: 5px 0;
}